.section {
  width: 600px;
}

.tabs {
display: flex;
}

.ingredients {
  max-height: calc(100vh - 400px);
  overflow-y: scroll;
}

.ingredient {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.counter  {
  position: fixed;
  top: 0;
  right: 0;
}