.header {
  width: 100%;
  background-color: var(--background);
}

.content {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "nav logo login";
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.nav {
  grid-area: nav;
  justify-self: start;
}

.buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login {
  grid-area: login;
  justify-self: end;
}

.button {
  display: inline-flex;
  text-decoration: none;
}

a {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}
