.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 480px;
  height: 240px;
}

.list {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.item {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}