.section {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding-left: 0;
  list-style-type: none;
  max-height: calc(100vh - 600px);
  overflow-y: scroll;
}

.totalPrice {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.emptyContainer {
  text-align: center;
  border: dashed rgb(133, 133, 173, 0.5) 2px;
  color: rgb(133, 133, 173);
}
